.activitiesPage{
  display: flex;
  height: 100vh;
  background-color: #f0f1f1;
  z-index: -5;
}

.nav{
  position: absolute;
  width: 14.99%;
  left: 1.125%;
  top: 10px;
}

.activitiesDiv{
  display: grid;
  flex-direction:row;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
  width: 120%;
  height: 65%;
  overflow: auto;
  background-color: #ffffff9d;
  position: relative;
  z-index: 2;
}

.activitiesDiv::-webkit-scrollbar{
  width: 10px;
}

.activitiesDiv::-webkit-scrollbar-thumb {
  background-color: #dad2d2d1;
  padding: 2px;
}

.activityDiv{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #83858899;
}

.activityDiv h2{
  margin: 0;
  position: flex;
  right: 30px;
  top: 20px;

}

.activityInfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  gap: 15px;
  padding-bottom: 25px;
  width: 80%;
}

.activityInfo p{
  line-height: 115%;
  margin: 0;
  font-size: 20px;
}

.activityCountries{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.countries{
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.deleteBin{
  position: grid;
  right: 35px;
  top: 40px;
  width: 40px;
  cursor: pointer;
}

.deleteBin:hover {
  transform: rotate(10deg) scale(1.05);
}