.countriesSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  background-color: rgba(235, 243, 247, 0.5);
  position: relative;
  z-index: 1;
  height: 400px;
  overflow-y: auto;
}

.countriesDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  gap: 25px;
  width: 120%;
  height: 400px;
  overflow-y: auto;
}

.countriesSection h1{
  position: absolute;
  top: 0;
  color: #090909ea;
}

.loadingGif{
  position: absolute;
  top: calc(50% - 75px);
  width: 200px;
  height: 150px;
}

.pagination{
  display: flex;
  width: 88%;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

}

.pagination div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: max-content;
}

.pagination p{
  width: 40px;
  color: #0d0101;
  text-align: center;
  margin: 0;
}

.paginationButton{
  height: 25px;
  font-size: medium;
  padding: 1px 15px 0 17px;
  letter-spacing: 2px;
  background-color: #1b1c1e;
  color: #ffffffcc;
  border: none;
  box-shadow: 0 0 5px #ffffffcc;
}

.paginationButton:hover{
  cursor: pointer;
  box-shadow: 0 0 3px #ffffffcc;
  transform: scale(0.99);
}