.bgContainer {
    background-image: url("https://i.pinimg.com/originals/5b/60/bc/5b60bc64b123e9a16cb931dcf77baa66.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 600px) {
    .bgContainer {
      background-size: 100% 100%;
    }
  }
  
  .generalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 1rem;
  }
  
  .generalContainer h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .generalContainer button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  @media (max-width: 600px) {
    .generalContainer {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 1rem;
    }
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .formContainer label {
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.5rem;
  }
  
  .formContainer input,
  .formContainer select {
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    width: 100%;
    margin-top: 0.5rem;
    text-align: center;
  }
  
  .formContainer select {
    appearance: none;
    background-color: white;
    background-position: right 0.5rem top 50%, center;
    background-repeat: no-repeat, repeat;
  }
  
  .formContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 10rem;
    overflow-y: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .formContainer li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .formContainer button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  @media (max-width: 600px) {
    .formContainer {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      margin-top: 50px
    }
}  

.countriesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .countriesContainer label {
    font-weight: bold;
    margin-top: 20px;
  }
  
  .countriesContainer ul {
    margin-top: 20px;
  }
  
  @media (max-width: 600px) {
    .countriesContainer {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 1rem;
    }
  }