body {
    background-image: url('../../utils/imagenes/Wmap.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    margin: 0; 
    padding: 0; 
    overflow-y:scroll;
}
.homePage {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
    position: relative; 
    z-index: 1; 
}

.homeAside{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(230, 230, 231, 0.5);
    z-index: 1000;
    width: 20%;
    height: 100vh;
    gap: 10px;
}